
<main>
  <h1 class='text-center text-uppercase'>Hello World</h1>
  <h2 class='text-end text-owercase'>Second</h2>
  <h3 class='text-capitalize'>3 title one two</h3>

  <hr />

  <div class='display-1 text-muted'>Hello world</div>
  <div class='display-5'>Second</div>
  <div class='display-6'>3 title</div>

  <hr />

  <div class='text-muted text-end'>
    Additional
    <span class='display-6'>text</span>
  </div>

  <hr />

  <button class='btn btn-primary'>
    <span class='text-uppercase'>Button primary</span>
  </button>

  <a href='#' class='btn btn-primary'>
    Button primary
  </a>

  <hr />
  <p class='text-primary'>My text</p>
  <p class='text-succes'>My text</p>

  <hr />

  <button class='btn btn-primary btn-lg'>Add</button>
  <button
    class='btn btn-outline-secondary btn-sm'
  >Edit</button>
  <button class='btn btn-outline-danger'>Delet</button>

  <br />
  <br />

  <div class='card'>
    <div class='card-body'>
      <button class='btn btn-primary btn-lg'>Add</button>
      <button
        class='btn btn-outline-secondary btn-sm'
      >Edit</button>
      <button class='btn btn-outline-danger'>Delet</button>

    </div>
  </div>

  <br />

  <div class='card'>
    <div class='card-body'>
      This is content
    </div>

<main class='p-5'>
  <h1>
    Hello<i class='bi bi-emoji-smile-fill'></i>
  </h1>

  <button class='btn btn-primary'>
    <i class='bi bi-credit-card'></i>
  </button>

  <div>
    <h1>
      <i
        class='fa-brands fa-github fa-beat'
        style='color: #942abb;'
      ></i>
    </h1>
  </div>

  <div>
    <h1>
      <img src='/svg/discord.svg' />
    </h1>

  </div>

</main>