<div class='ms-5'>
	<div class='list-group'>
		<div class='list-group-title'><h2>Resume</h2></div>
			{{#with navButtons}}
				<div class='list-group-item'>
					<div class='row'>
						{{#each links}}
							<div class='col my-3'>
								<a
									href='{{href}}'
									class='btn btn-primary'
								>{{text}}</a>
							</div>
						{{/each}}
					</div>
				</div>

				<div class='list-group-item'>
					<h4 class='my-4' style='color: green;'>Projects</h4>
					<div class='row'>
						{{#each projects}}
							<div class='col-3 my-2'>
								<a
									href='{{href}}'
									class='btn btn-outline-primary'
								>{{text}}</a>
							</div>
						{{/each}}
					</div>
				</div>
			{{/with}}
		</div>
	</div>	
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}