{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div class="ms-5">
  {{#with program}}
    <main>
      <section>
        {{#with excursion}}
			<div>
				<h1>{{> title data=name big=true}}</h1>
				<p><b>{{location.city}} {{location.country}}</b></p>
				<p>{{date}}</p>
			</div>
			<hr />
			<section>
				<ul>
					{{#each program}}
						<div>{{>event name=name type=type duration=duration}}</div>
						{{#with details}}
							<div>
								{{#with museum}}
									{{> details name=name location=location address=address city=city country=country}}
									{{> exhibits name=name artist=artist description=description audio_guide=true}}
								{{/with}}
							</div>
							<div>
								{{#with venue}}
									{{> details name=name location=location address=address city=city country=country}}
									{{> performers name=name type=type}}
								{{/with}}
							</div>
							<div>
								{{> performers name=name type=type}}
							</div>
							<div>
								{{> guide name=name language=language rating=rating}}
							</div>
							<hr>
						{{/with}}
					{{/each}}
				</ul>
          </section>
        {{/with}}
      </section>
    </main>
  {{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}