{{!-- {{#each program}} --}}
<div>
  <p>
    <br />
    <div><h3><b>{{name}}</b></h3></div>
    <div>
      {{#with location}}
        <address>
          {{address}}
          |
          {{city}}
          |
          {{country}}
        </address>
      {{/with}}
    </div>
  </p>
</div>
{{!-- {{/each}} --}}