<div class='row ms-5 my-4 '>
    {{#each footer}}
        <div class='col-2 nav flex-column'>
            {{#each this}}
                <div class='nav-item'>
                    <a href='{{link}}'
                    class='nav-link {{#if @last}}disabled{{/if}}'
                    >{{text}}</a>
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>