<label class='form-label'>{{label}}</label>
<div class='input-group'>
  <input
    class='form-control'
    placeholder='{{placeholder}}'
  />
</div>
<div class='form-text text-dark'>{{caption}}</div>